<table border="4px" class ="table">
  <tr>
    <th>User_id</th>
    <th>User_Name</th>
    <th>User_Email</th>
    <th>User_UserType</th>
    <th>Action1</th>
    <th>Action2</th>


  </tr>
  <% @users.each do |u| %>

      <tr>
        <td><%=u.id%></td><td><%=u.name%></td>  <td><%=u.email%></td> <td><%=u.admin%></td>
        <td><%= link_to 'Edit', edit_user_path(u) %></td>
        <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  <%end%>
</table>






