
<div class="parentdiv">
  <div class="childleft">
    <%= image_tag("abcd.jpg",class: "imgclass") %>
  </div>
  <div class="childright">
   Name: <%= @user.name %> <br> Email:<%= @user.email%> <br>Admin:<%= @user.admin%>
  </div>
</div>

<!--<a href="/create"> add new user</a>-->
  <div class="dropdown" style="width:100%;display:block;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Operations
      <span class="caret"></span></button>
    <ul class= "dropdown-menu">
      <% if @user.admin == true  %>
          <li>    <%= link_to 'Create new user', new_user_path() %></li>
          <li><%= link_to 'See Users', users_path %></li>
          <li><%= link_to 'See vehicles', vehicles_path %></li>
          <li><a href="/vehicles/new">Add vehicles</a></li>
          <li><%= link_to 'Transfer Your Admnstration', transfer_user_path %></li>
          <li><%= link_to 'Add your Vehicle', vehicles_path %></li>
      <%else%>
          <li><%= link_to 'Add your Vehicle', vehicles_path %></li>
      <%end%>
    </ul>
  </div>
<div>
    <table border="1" class="table">
      <tr>
        <th> ID</th>
        <th> Color</th>
        <th> Type name</th>
        <th> Weight/Occupants</th>
        <th> Fuel type</th>
        <th> Power rating</th>
        <th> Start date</th>
        <th> Delivery Date</th>
        <th> Delete</th>
        <th> Edit</th>
        <th> Share</th>

      </tr>
      <%@user.vehicles.each do |vech|%>
          <tr>
            <td><%= vech.id%></td>
            <td><%= vech.color%></td>
            <td><%= vech.type_name%></td>
            <td><%= vech.wt_oc%></td>
            <td><%= vech.fuel%></td>
            <td><%= vech.power_rating%></td>
            <td><%= vech.st_date%></td>
            <td><%= vech.del_date%></td>
            <td><%= link_to 'Destroy',delete_vehicle_vehicle_path(vech) , method: :delete %></td>
            <td><%= link_to 'Edit', edit_vehicle_path(vech) %></td>
            <td><%= link_to 'share', share_form_user_path(vech) %></td>

          </tr>
          </br>
      <%end%>
      -->
    </table>
  <%= Date.today%>
</div>