</br>
</br>
<h1> Vehicle information </h1>
<table border="1" class="table">
  <tr>
    <th>Id</th>
    <th>Color</th>
    <th>Name</th>
    <th>Weight_Occupants</th>
    <th>Fuel</th>
    <th>PowerRating</th>
    <th>Action</th>
    <% if current_user.admin == true%>
        <th>Action</th>
        <th>Action</th>

  <%end%>
  </tr>
  <% @vehicles.each do |vech|%>
      <tr>
        <td><%= vech.id%></td>
        <td><%= vech.color%></td>
        <td><%= vech.type_name%></td>
        <td><%= vech.wt_oc%></td>
        <td><%= vech.fuel%></td>
        <td><%= vech.power_rating%></td>
        <td><%= link_to 'Add to your list', add_vehicle_path(vech), method: 'post' %></td>
        <% if current_user.admin == true%>
            <td><%= link_to 'Edit', edit_vehicle_path(vech) %></td>
            <td><%= link_to 'Destroy', vech, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      <%end%>
      </tr>
  <%end%>
</table>



<div>
    <table border="1" class="table">
      <tr>
        <th> ID</th>
        <th> Color</th>
        <th> Type name</th>
        <th> Weight/Occupants</th>
        <th> Fuel type</th>
        <th> Power rating</th>
        <th> Start date</th>
        <th> Delivery Date</th>
        <th> Delete</th>
        <th> Edit</th>
        <th> Share</th>

      </tr>
      <%current_user.vehicles.each do |vech|%>
          <tr>
            <td><%= vech.id%></td>
            <td><%= vech.color%></td>
            <td><%= vech.type_name%></td>
            <td><%= vech.wt_oc%></td>
            <td><%= vech.fuel%></td>
            <td><%= vech.power_rating%></td>
            <td><%= vech.st_date%></td>
            <td><%= vech.del_date%></td>
            <td><%= link_to 'Destroy',delete_vehicle_vehicle_path(vech) , method: :delete %></td>
            <td><%= link_to 'Edit', edit_vehicle_path(vech) %></td>
            <td><%= link_to 'share', share_form_user_path(vech) %></td>

          </tr>
          </br>
      <%end%>
      -->
    </table>
  <%= Date.today%>
</div>