

<% provide(:title, 'Update Vehicle') %>
<h1>Edit Vehicle</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for @vehicle, url: vehicles_path, html: {onsubmit: "return validate()"} do |f| %>

        <div class="form-group">
          <%= f.label :Color %>
          <%= f.text_field :color,{class: "form-control"} %>
        </div>  

        <div class="form-group">
            <%= f.label :StartDate %>
            <%= f.text_field :st_date,{class: "form-control"}%>
        </div> 
        <div class="form-group">
            <%= f.label :DeliveryDate %>
            <%= f.text_field :del_date, {class: "form-control", disabled: true}%>
        </div>
        <div class="form-group">
            <%= f.label :fuel %>
            <%= f.select :fuel, Vehicle::FUEL,{},{class: "form-control"} %>
        </div>  
        <div class="form-group">       
            <%= f.label :PowerRating %>
            <%= f.number_field :power_rating, {class: "form-control",onblur: "validateform()" }%>
        </div>  
        <div class="form-group">
          <%= f.label :TypeName %>
          <%= f.select :type_name, Vehicle::TYPE_NAME,{},{class: "form-control", onchange: "validateform()" }%>
        </div>
        <div class="form-group">
            <%= f.label :WeightOccupants %>
            <%= f.number_field :wt_oc, {class: "form-control"}%>
        </div>
        <div class="form-group">

          <%= f.button "Update", class: "btn btn-primary form-control"  %>
        </div>  
      <% end %>
  </div>
</div>

<script>

$(document).ready(function() {

   $('#vehicle_st_date').datepicker(
   {
       beforeShow: customRangeStart,
       minDate: 0,
       dateFormat: "yy-mm-dd",
       changeYear: true
   });

   $('#vehicle_del_date').datepicker(
   {
       beforeShow: customRange,
       dateFormat: "yy-mm-dd",
       changeYear: true
   });
});
</script>