

<% provide(:title, 'Edit Vehicle') %>
<h1>Update/h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for @vehicle, url: vehicles_path, html: {onsubmit: "return submit_11()"} do |f| %>

        <div class="form-group">
          <%= f.label :Color %>
          <span id="colorerror"></span>
          <%= f.text_field :color,{class: "form-control",  onblur: "clear_span(this.id, 'colorerror')"} %>
        </div>  

        <div class="form-group">
            <%= f.label :StartDate %>
            <span id="starterror"></span>
            <%= f.text_field :st_date,{class: "form-control",  onblur: "clear_span(this.id, 'starterror')"}%>
        </div> 
        <div class="form-group">
            <%= f.label :DeliveryDate %>
          <span id="delerror"></span>
          <%= f.text_field :del_date, {class: "form-control", onblur: "clear_span(this.id, 'delerror')"}%>
        </div>
        <div class="form-group">
            <%= f.label :fuel %>
            <%= f.select :fuel, Vehicle::FUEL,{},{class: "form-control"} %>
        </div>  
        <div class="form-group">       
            <%= f.label :PowerRating %>
            <span id="powerror"></span>
            <%= f.number_field :power_rating, {class: "form-control",onblur: "validateform()" }%>
        </div>  
        <div class="form-group">
          <%= f.label :TypeName %>
          <%= f.select :type_name, Vehicle::TYPE_NAME,{},{class: "form-control", onchange: "validateform()" }%>
        </div>
        <div class="form-group">
            <%= f.label :WeightOccupants %>
            <span id="ocerror"></span>
            <%= f.number_field :wt_oc, {class: "form-control",onblur: "clear_span(this.id, 'ocerror')"}%>
        </div>
        <div class="form-group">

          <%= f.button "Upadte", class: "btn btn-primary form-control"  %>
        </div>  
      <% end %>
  </div>
</div>

<script>
function submit_11(){
  var v_color = document.getElementById("vehicle_color").value,
    start=document.getElementById("vehicle_st_date").value,
    power=document.getElementById("vehicle_power_rating").value,
    oc=document.getElementById("vehicle_wt_oc").value,
    del = document.getElementById("vehicle_del_date").value;
    

    
  if( v_color == "" )
  {
    //document.form.name.focus() ;
   //document.getElementById("vehicle_color").focus();
    document.getElementById("colorerror").innerHTML = "Please fill color";
    return false;
  }
  if( start == "" )
  {
    //document.form.name.focus() ;
    document.getElementById("starterror").innerHTML = "Please fill start date"
    return false;
    
  }
  
  if( del == "" )
  {
    //document.form.name.focus() ;
    document.getElementById("delerror").innerHTML = "Please fill deleivery date";
    return false;
  }
  if( power == "" )
  {
    //document.form.name.focus() ;
    document.getElementById("powerror").innerHTML = "Please fill rating";
    return false;
  }
  if( oc == "" )
  {
    //document.form.name.focus() ;
    document.getElementById("ocerror").innerHTML = "Please fill Occupants";
    return false;
  }
      
}

function clear_span(text_id, span_id)
{ 
  
  if(text_id.value !="")
    {      //span_id.style.color="green";
      document.getElementById(span_id).innerHTML="";
    }
  
}

































$(document).ready(function() {

   $('#vehicle_st_date').datepicker(
   {
       beforeShow: customRangeStart,
       minDate: 0,
       dateFormat: "yy-mm-dd",
       changeYear: true
   });

   $('#vehicle_del_date').datepicker(
   {
       beforeShow: customRange,
       dateFormat: "yy-mm-dd",
       changeYear: true
   });
});
</script>