
<script>
$(document).ready(function() {

   $('#vehicle_st_date').datepicker(
   {
       beforeShow: customRangeStart,
       minDate: 0,
       dateFormat: "yy-mm-dd",
       changeYear: true
   });

   $('#vehicle_del_date').datepicker(
   {
       beforeShow: customRange,
       dateFormat: "yy-mm-dd",
       changeYear: true
   });
});


</script>



<% provide(:title, '  UpdateVehicle') %>
<h1>Create Vehicle</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for @vehicle, url: vehicle_path do |f| %>
        <table class="table">

        <tr>

            <td><%= f.label :Color %></td>
            <td><%= f.text_field :color %> </td>
          </tr>

          <tr>
            <td><%= f.label :StartDate %></td>
            <td><%= f.text_field :st_date %></td>
          </tr>
          <tr>
            <td><%= f.label :DeliveryDate %></td>
            <td><%= f.text_field :del_date %></td>
          </tr>
          <tr>

            <td><%= f.label :fuel %></td>
            <td><%= f.select :fuel, Vehicle::FUEL %></td>
          </tr>
          <tr>
            <td><%= f.label :PowerRating %></td>
            <td><%= f.number_field :power_rating,{onblur: "validateform()" }%></td>
          </tr>
          <tr>
            <td><%= f.label :TypeName %></td>
            <td><%= f.select :type_name, Vehicle::TYPE_NAME,{},{onchange: "validateform()" }%></td>
          </tr>
          <tr>
            <td><%= f.label :WeightOccupants %></td>
            <td><%= f.number_field :wt_oc%></td>
          </tr>
          <tr><td><%= f.submit "Update Vehicle", class: "btn btn-primary" %></td></tr>
        </table>

  <% end %>
  </div>
</div>